p:first-child {
 font-size: 40px;
 text-align: left;
 font-family: sans-serif;
}

.name {
   
}



p:nth-child(2) {
 border: 2px solid black; 
 font-size: 20px;
 font-family: Courier;
}

.one {
    border: 5px solid white;
    width: 350px;
    height: 250px;
    margin-left: 800px;
     
}

nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

.contact-btn {
  float: right;
    
}

.contact-btn a {
  position: relative;
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;


}

.contact-btn a:active {
    top: 2px;

}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

.two:hover {
    color: #ff6666;
}

img {
    height: 25px;
    float: left;
    
    
}

h1 {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    color: #ff6666;
}

p:nth-child(3) {
    font-size: 40px;
 text-align: center;
 font-family: sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

h1 {
 text-align: center;   
}



